<article class="post-entry">{{ with (.Get "src") }}
  <section style="display: inline-block; vertical-align: middle; width: 25%; padding-right: var(--gap);">
    <img loading="lazy" src="{{ . }}" style="border-radius: var(--radius);">
  </section>{{ end }}
  <section style="display: inline-block; vertical-align: middle; width: 70%;">{{ with (.Get "title") }}
    <header class="entry-header">
      <h4>
        {{ . }}
      </h4>
    </header>{{ end }}{{ with (.Get "caption") }}
    <section class="entry-content">{{ . | markdownify }}</section>{{ end }}
  </section>
  <a class="entry-link" href="{{ or (.Get "href") "#" }}"></a>
</article>
