{{- $my_id := .Get "id" -}}
{{- if $my_id -}}
{{- else -}}
	{{- if (.Get "reset") -}}
		{{- $my_id = int (.Get "reset") -}}
	{{- else -}}
		{{- $my_id = add (or ($.Page.Scratch.Get "my_bibitem_id") 0) 1 -}}
	{{- end -}}
	{{- $.Page.Scratch.Set "my_bibitem_id" $my_id -}}
	{{- $my_id = printf "[%d]" $my_id -}}
{{- end -}}
<section style="position: static; box-sizing: border-box;">
	<section style="display: inline-block; vertical-align: top; width: 8%; box-sizing: border-box; text-align: right; white-space: nowrap;">
		<section style="float: right;"><strong>{{ $my_id }}</strong></section>
	</section>
	<section style="display: inline-block; vertical-align: top; width: 90%; box-sizing: border-box; padding: 0% 0% 0% 1%;">{{ .Inner | markdownify }}</section>
</section>
