<p>
	<section style="text-align: center;">
		<section style="display: inline-block; width: 95%; border: 2px solid transparent; padding: 0px; background-color: var(--code-bg); box-shadow: rgb(218, 218, 218) 4px 4px 10px;">
			<section style="max-width: 100%; vertical-align: middle; display: inline-block; width: 100%;">
				<img loading="lazy" src="{{ .Get "src" }}"
					{{- if or (.Get "alt") (.Get "caption") }}
					alt="{{ with .Get "alt" }}{{ . }}{{ else }}{{ .Get "caption" | markdownify | plainify }}{{ end }}"
					{{- end -}}
					style="vertical-align: middle; max-width: 100%; width: 100%; border-radius: 4px 4px 0px 0px;">
			</section>
			<section style="display: inline-block; width: 100%; border-width: 0px 0px 0px 10px; border-style: solid; border-color: var(--content-strong-purple); padding: 10px;">
				<section style="margin: 5px 0%; position: static; text-align: left; padding: 0px 10px; font-size: 90%;">{{ with (.Get "title") }}
					<strong>{{ . }}</strong>{{ end }}{{ with (.Get "caption") }}
					<p>{{ . | markdownify }}</p>{{ end }}
				</section>
			</section>
		</section>
	</section>
</p>
